*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: #FEAC5E;
  background: linear-gradient(40deg, #4BC0C8, #C779D0, #FEAC5E);
  min-height: 100vh;
}

.success {
  --toastBackground: #48bb78;
  --toastBarBackground: #2f855a;
}
.error {
  --toastBackground: #f56565;
  --toastBarBackground: #c53030;
}
.warning {
  --toastBackground: #ffcc00;
  --toastBarBackground: #b79200;
}
