*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background: #00F260;
  background: linear-gradient(to right, #0575E6, #00F260);
}

.success {
  --toastBackground: #48bb78;
  --toastBarBackground: #2f855a;
}
.error {
  --toastBackground: #f56565;
  --toastBarBackground: #c53030;
}
.warning {
  --toastBackground: #ffcc00;
  --toastBarBackground: #b79200;
}
